@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>FUnight Activity App</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to FUnight</h2>
        <p>
            FUnight is a helpful app for family/friend fun night events, to help friends/family stay connected despite everyone leading their own hectic version of life. This app, aims to consolidate the coordination of those events and streamline or democratize the decision making process. User can suggest activities, dates and locations for FUnight and vote for their favorite suggestions, finally arriving at the most popular choice.
        </p>
    </div>
</div>
