@{
    ViewData["Title"] = "Home Page";
}

    
        @*<h1>FUNight Activity App</h1>*@
        <img src="~/FNbricks2.png" max-height="100%" background-size="cover" background-position="center" 
             @*width="867" height="300"*@/>
  
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to FUNight</h2>
        <p>
            FUNight is a helpful app for family/friend fun night events, to help everyone stay connected despite leading their own hectic version of life. This app, aims to consolidate the coordination of those events and democratize the decision making process. Users can suggest activities, dates and locations for FUNight and vote for their favorite suggestions, finally arriving at the most popular choice.
        </p>
    </div>
</div>
