@model FUnight.Models.ViewModels.EditFUnActivityViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FUnActivity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FUnActivity.SuggestedDate" class="control-label"></label>
                <input asp-for="FUnActivity.SuggestedDate" class="form-control" />
                <span asp-validation-for="FUnActivity.SuggestedDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FUnActivity.FoodAvailable" /> @Html.DisplayNameFor(model => model.FUnActivity.FoodAvailable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FUnActivity.CostEstimate" class="control-label"></label>
                <input asp-for="FUnActivity.CostEstimate" class="form-control" />
                <span asp-validation-for="FUnActivity.CostEstimate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FUnActivity.ActivityTypeId" class="control-label"></label>
                <select asp-for="FUnActivity.ActivityTypeId" class="form-control" asp-items="@Model.ActivityTypeOptions"></select>
                <span asp-validation-for="FUnActivity.ActivityTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FUnActivity.ActyTypeComment" class="control-label"></label>
                <input asp-for="FUnActivity.ActyTypeComment" class="form-control" />
                <span asp-validation-for="FUnActivity.ActyTypeComment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FUnActivity.UserGroupId" class="control-label"></label>
                <Select asp-for="FUnActivity.UserGroupId" class="form-control" asp-items="@Model.UserGroupOptions"></Select>
                <span asp-validation-for="FUnActivity.ActivityTypeId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
